<template>
  <v-app id="inspire">
    <v-app-bar app color="white" flat>
      <v-container fluid>
        <v-row>
          <v-col cols="3" xs="3" sm="3" md="3">
            <div class="text-center">
              <v-menu>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on">
                    {{ currentLang }}
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="openPostDialog">
                    <v-list-item-title>Post</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="langHandler(link.value)"
                    v-for="(link, index) in links"
                    :key="index"
                  >
                    <v-list-item-title>{{ link.name }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-col>
          <v-col cols="9" xs="3" sm="3" md="3">
            <div class="text-center">
              <v-menu>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn v-bind="attrs" v-on="on">
                    {{ selectedType }}
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    @click="changeFilter(filter)"
                    v-for="(filter, index) in Types"
                    :key="index"
                  >
                    <v-list-item-title>{{ filter.text }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </div>
          </v-col>
            <!-- <v-col cols="2" xs="1" sm="3" md="3">
            {{ lang.toUpperCase() }}
            {{ anotherLang }}
          </v-col> -->
        </v-row>
      </v-container>
    </v-app-bar>
    <v-main class="grey">
      <v-sheet dark>
        <dictionary ref="dictionaryList" :lang="lang"></dictionary>
      </v-sheet>
    </v-main>
  </v-app>
</template>
<script>
import Constants from "@/common/constants";
import Dictionary from "@/components/Dictionary";
export default {
  name: "App",
  data: () => ({
    links: [
      {
        name: "English",
        value: "en",
      },
      {
        name: "Turkish",
        value: "tr",
      },
    ],
    lang: "en",
    selectedType: "all",
    filterType: null,
    Types: [],
  }),
  methods: {
    langHandler(newLang) {
      this.lang = newLang;
    },
    changeFilter(newType) {
      this.selectedType = newType.text;
      this.$refs.dictionaryList.changeType(newType.id);
    },
    openPostDialog() {
      this.$refs.dictionaryList.createForm();
    },
  },
  computed: {
    anotherLang() {
      if (this.lang == "tr") return "EN";
      return "TR";
    },
    currentLang() {
      if (this.lang == "tr") return "Turkish";
      return "English";
    },
  },
  mounted() {
    this.Types.push({
      id: "all",
      text: "ALL",
    });
    Constants.WordTypes.forEach((element) => {
      this.Types.push(element);
    });
    this.selectedType = "all";
  },
  components: {
    Dictionary,
  },
};
</script>
