<template>
  <v-row justify="center">
    <v-dialog
      v-model="Dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeDialog">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Settings</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-container fluid>
          <v-row>
            <v-col xs="12" sm="12" md="12">
              <v-form ref="postForm">
                <v-container fluid>
                  <v-row>
                    <v-text-field
                      :rules="Rules.Validate"
                      label="English"
                      v-model="Item.English"
                      placeholder="English word"
                      outlined
                      required
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-text-field
                      :rules="Rules.Validate"
                      label="Turkish"
                      v-model="Item.Turkish"
                      placeholder="Turkish word split with ',' separator"
                      outlined
                      required
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-select
                      v-model="Item.Type"
                      :items="Types"
                      label="Select Type"
                      outlined
                      item-text="text"
                      item-value="id"
                    ></v-select>
                  </v-row>
                  <v-row>
                    <v-textarea
                      outlined
                      label="Description"
                      v-model="Item.Description"
                    ></v-textarea>
                  </v-row>
                  <v-row>
                    <v-col :cols="!IsEdit ? 12 : 6">
                      <v-btn width="100%" color="success" @click="createItem">{{
                        !IsEdit ? "Post" : "Put"
                      }}</v-btn>
                    </v-col>
                    <v-col v-if="IsEdit">
                      <v-btn width="100%" color="error" @click="deleteItem"
                        >Delete</v-btn
                      >
                    </v-col>
                  </v-row>
                  <v-row v-if="ResponseText != null">
                    <v-col>
                      <label>{{ ResponseText }}</label>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import { GetById, Post, Update, Delete } from "@/api/service";
import Constants from "@/common/constants";
export default {
  props: {
    Dialog: {
      type: Boolean,
    },
    DialogClose: {
      type: Function,
    },
  },
  data: () => ({
    IsEdit: false,
    Id: null,
    Rules: {
      Validate: [(v) => !!v || "word is required"],
    },
    Item: {
      Type: "adverb",
      Turkish: null,
      English: null,
      Description: null,
    },
    IsUpdated: false,
    Types: [],
    ResponseText: null,
  }),
  methods: {
    deleteItem() {
      var response = confirm("Are you sure for delete?");
      if (response) {
        Delete(this.Id, () => {
          this.closeDialog();
        });
      }
    },
    createItem() {
      let valid = this.$refs.postForm.validate();
      if (valid) {
        if (!this.IsEdit) {
          Post(this.Item, (res) => {
            this.IsUpdated = true;
            this.Item.Turkish = null;
            this.Item.English = null;
            this.Item.Description = null;
            this.ResponseText = res.data;
          });
        } else {
          Update(this.Id, this.Item, (res) => {
            this.ResponseText = res.data;
            this.IsUpdated = true;
          });
        }
      }
    },
    getItemById() {
      this.Item.IsEdit = true;
      this.IsUpdated = false;
      GetById(this.Id, (res) => {
        this.Item.Turkish = res.data.turkish;
        this.Item.English = res.data.english;
        this.Item.Description = res.data.description;
        this.Item.Type = res.data.type;
      });
    },
    closeDialog() {
      this.IsEdit = false;
      this.Item.Turkish = null;
      this.Item.English = null;
      this.Item.Description = null;
      this.Item.Type = "adverb";
      this.DialogClose(this.IsUpdated);
    },
  },
  mounted() {
    this.Types = Constants.WordTypes;
  },
};
</script>
