<template>
  <div>
    <v-form>
      <v-container color="primary">
        <v-row v-for="(item, index) in list" :key="index">
          <v-col cols="10" sm="11" md="11" style="padding: 2px">
            <v-text-field
              :label="resolveName(item)"
              v-model="item.newValue"
              color="light"
              :success="item.success"
              full-width
              dense
              :error="item.error"
            ></v-text-field>
          </v-col>
          <v-col cols="1" sm="1" md="1" justify-center>
            <v-btn x-small class="primary" @click="check(item, false)"
              >Try</v-btn
            >
            <v-btn x-small color="orange" @click="edit(item)">Edit</v-btn>
          </v-col>
        </v-row>
        <v-btn
          fab
          color="secondary"
          style="font-size: 30px"
          fixed
          right
          bottom
          @click="tryAll"
        >
          ⚡
        </v-btn>
        <v-btn
          fab
          color="secondary"
          style="font-size: 30px; margin-top: 70px"
          fixed
          left
          top
          @click="changeType(selectedType)"
        >
          ⚡
        </v-btn>
      </v-container>
    </v-form>
    <crud-form-dialog
      ref="crudFromDialog"
      :DialogClose="dialogCloseHandler"
      :Dialog="dialog"
    ></crud-form-dialog>
  </div>
</template>

<script>
import Constants from "@/common/constants";
import { GetFilter, Check } from "@/api/service";
import CrudFormDialog from "@/components/CrudFormDialog.vue";
export default {
  name: "Dashboard",
  props: {
    lang: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      IsEdit: false,
      dialog: false,
      Id: null,
      list: null,
      error: null,
      selectedType: "all",
    };
  },
  components: { CrudFormDialog },
  methods: {
    dialogCloseHandler(refresh) {
      console.log(refresh);
      // if (refresh) {
      //   this.changeType(this.selectedType);
      // } else {
      this.dialog = false;
      // }
    },
    tryAll() {
      this.list.forEach((element) => {
        if (element.newValue && element.newValue.trim() != "") {
          this.check(element, true);
        }
      });
    },
    check(item, remove) {
      Check(
        this.lang,
        item.id,
        {
          Value: item.newValue,
        },
        (res) => {
          if (item.count < res.data) {
            item.error = true;
          } else {
            if (remove) {
              this.list = this.list.filter((x) => x.id != item.id);
            } else {
              item.error = false;
              item.success = true;
              item.newValue = item.newValue + " ";
            }
          }
          item.count = res.data;
        }
      );
    },
    edit(item) {
      this.dialog = true;
      this.$refs.crudFromDialog.Id = item.id;
      this.$refs.crudFromDialog.IsEdit = true;
      this.$refs.crudFromDialog.getItemById();
    },
    resolveName(value) {
      let word =
        (this.lang == "tr" ? value.turkish : value.english) +
        " [Score:" +
        -1 * value.count +
        "]";
      if (this.selectedType != "all") return word;
      return word + " [" + Constants.GetName(value.type) + "] ";
    },
    changeType(typeId) {
      this.selectedType = typeId;
      this.dialog = false;
      GetFilter(typeId == "all" ? "" : typeId, (res) => {
        this.error = res;
        this.list = res.data;
      });
    },
    createForm() {
      this.IsEdit = false;
      this.dialog = true;
    },
  },
  mounted() {
    this.changeType(this.selectedType);
  },
};
</script>
